html{overflow-x: hidden;}

body{
    margin: 0;
    background-image: linear-gradient(to bottom, #0a0c1c, #0a0c1c, #0a0c1c, #00081D);
    font-family: sans-serif;}

/* RESPONSIVIDADE - NAV(1024px LAPTOP)*/ /* RESPONSIVIDADE - NAV(1024px LAPTOP)*/ /* RESPONSIVIDADE - NAV(1024px LAPTOP)*/

@media screen and (max-width: 1024px){
    html{
    overflow-x: hidden;}

nav .div-nav-flex{
    position: relative;
    right: 320px;}


/* RESPONSIVIDADE - PARTE PRINCIPAL (1024px LAPTOP) */  /* RESPONSIVIDADE - PARTE PRINCIPAL (1024px LAPTOP) */  /* RESPONSIVIDADE - PARTE PRINCIPAL (1024px LAPTOP) */ 

    main .div-texto-principal{
        position: relative;
        bottom: 900px;
    }

    .div-texto-principal h1{
        position: relative;
        font-size: 50px;
        max-width: 70%;
        bottom: 50px;
    }

    .div-texto-principal .h2-principal{
        position: relative;
        font-size: 18px;
        bottom: 60px;}

    .div-texto-principal .p-principal{
        position: relative;
        font-size: 20px;
        top: -70px;}

    .div-texto-principal .input-email{
        position: relative;
        bottom: 70px;}

    .div-texto-principal .button-vamosla1{
        position: relative;
        left: 440px;
        bottom: 108px;
    }

/* RESPONSIVIDADE - VANTAGENS (1024px LAPTOP)*/ /* RESPONSIVIDADE - VANTAGENS (1024px LAPTOP)*/ /* RESPONSIVIDADE - VANTAGENS (1024px LAPTOP)*/

    .div-parte-secundaria .div-box-vantagens{
        position: relative;
        width: 470px;
        height: 325px;
        right: 60px;
        bottom: 100px;
        border-radius: 15px;
        margin-bottom: 10px;}

    .div-parte-secundaria .v3{
        position: relative;
        top: -100px;}


/* RESPONSIVIDADE - PERGUNTAS (1024px LAPTOP)*/ /* RESPONSIVIDADE - PERGUNTAS (1024px LAPTOP)*//* RESPONSIVIDADE - PERGUNTAS (1024px LAPTOP)*/

    .div-parte-terciaria{
        position: relative;
        top: 125px;}

    .div-parte-terciaria .div-box-perguntas{
        position: relative;
        width: 850px;}

    .div-parte-terciaria .titulo-perguntas{
        color: rgba(255, 255, 255, 0.801);}

/* RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/

    .rodape{
        position: relative;
        top: 125px;
        height: 1600px;
        background-color: #050A1C;}

    .rodape .p14ID{
        position: relative;
        left: 337px;
        bottom: 17px;}

    .rodape .p15ID{
        position: relative;
        left: 600px;
        bottom: 48px;}

    .rodape .p16ID{
        position: relative;
        bottom: 50px;}

    .rodape .p17ID{
        position: relative;
        left: 337px;
        bottom: 84px;}

    .rodape .seletor-rodape{
        position: relative;
        top: -7px;}

    .rodape .icone-footer{
        position: relative;
        top: -1px;}

    .rodape .p-final{
        position: relative;
        top: -1px;}

    .div-copyright{
        position: relative;
        right: 150px;
        width: 150%;}
}

/* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/
/* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/
/* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* FIM DA RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/



/* RESPONSIVIDADE - INICIO (768px TABLET)*/ /* RESPONSIVIDADE - RODAPE(768px TABLET)*/ /* RESPONSIVIDADE - RODAPE(768px TABLET)*/

@media screen and (max-width: 768px) and (min-width: 425px){

    html{overflow-x: hidden;}

    nav .div-nav-flex{
    position: relative;
    left: -500px;}

    main .div-fundo-filmes{
        width: 798px;
    }
  
    
/* RESPONSIVIDADE - PRINCIPAL (768px TABLET)*/ /* RESPONSIVIDADE - PRINCIPAL (768px TABLET)*/ /* RESPONSIVIDADE - PRINCIPAL (768px TABLET)*/
    
        main .div-texto-principal{
            position: relative;
            bottom: 900px;
        }
    
        .div-texto-principal h1{
            position: relative;
            font-size: 50px;
            max-width: 70%;
            bottom: 50px;
        }
    
        .div-texto-principal .h2-principal{
            position: relative;
            font-size: 18px;
            bottom: 60px;}
    
        .div-texto-principal .p-principal{
            position: relative;
            font-size: 20px;
            top: -70px;}
    
        .div-texto-principal .input-email{
            position: relative;
            bottom: 70px;}
    
        .div-texto-principal .button-vamosla1{
            position: relative;
            left: 440px;
            bottom: 108px;
        }
    
/* RESPONSIVIDADE - VANTAGENS (768px TABLET)*/ /* RESPONSIVIDADE - VANTAGENS (768px TABLET)*/ /* RESPONSIVIDADE - VANTAGENS (768px TABLET)*/
        
        .div-parte-secundaria .div-box-vantagens{
            position: relative;
            width: 470px;
            height: 325px;
            right: 60px;
            bottom: 100px;
            border-radius: 15px;
            margin-bottom: 10px;}
    
        .div-parte-secundaria .v3{
            position: relative;
            top: -100px;}
    
    
/* RESPONSIVIDADE - PERGUNTAS (768px TABLET)*/ /* RESPONSIVIDADE - PERGUNTAS (768px TABLET)*/ /* RESPONSIVIDADE - PERGUNTAS (768px TABLET)*/

        .div-parte-terciaria{
            position: relative;
            top: 125px;}
    
        .div-parte-terciaria .div-box-perguntas{
            position: relative;
            width: 850px;}
    
        .div-parte-terciaria .titulo-perguntas{
            color: rgba(255, 255, 255, 0.801);}
    
/* RESPONSIVIDADE - RODAPE (768px TABLET)*/ /* RESPONSIVIDADE - RODAPE (768px TABLET)*/ /* RESPONSIVIDADE - RODAPE (768px TABLET)*/

        .rodape{
            position: relative;
            top: 125px;
            height: 1600px;
            background-color: #050A1C;}
    
        .rodape .p14ID{
            position: relative;
            left: 337px;
            bottom: 17px;}
    
        .rodape .p15ID{
            position: relative;
            left: 600px;
            bottom: 48px;}
    
        .rodape .p16ID{
            position: relative;
            bottom: 50px;}
    
        .rodape .p17ID{
            position: relative;
            left: 337px;
            bottom: 84px;}
    
        .rodape .seletor-rodape{
            position: relative;
            top: -7px;}
    
        .rodape .icone-footer{
            position: relative;
            top: -1px;}
    
        .rodape .p-final{
            position: relative;
            top: -1px;}
    
        .div-copyright{
            position: relative;
            right: 150px;
            width: 150%;}


/* RESPONSIVIDADE - PARTE PRINCIPAL (1024px LAPTOP) */  /* RESPONSIVIDADE - PARTE PRINCIPAL (1024px LAPTOP) */  /* RESPONSIVIDADE - PARTE PRINCIPAL (1024px LAPTOP) */ 

    main .div-texto-principal{
        position: relative;
        bottom: 900px;
    }

    .div-texto-principal h1{
        position: relative;
        font-size: 50px;
        max-width: 70%;
        bottom: 50px;
    }

    .div-texto-principal .h2-principal{
        position: relative;
        font-size: 18px;
        bottom: 60px;}

    .div-texto-principal .p-principal{
        position: relative;
        font-size: 20px;
        top: -70px;}

    .div-texto-principal .input-email{
        position: relative;
        bottom: 70px;}

    .div-texto-principal .button-vamosla1{
        position: relative;
        left: 440px;
        bottom: 108px;
    }

/* RESPONSIVIDADE - VANTAGENS (1024px LAPTOP)*/ /* RESPONSIVIDADE - VANTAGENS (1024px LAPTOP)*/ /* RESPONSIVIDADE - VANTAGENS (1024px LAPTOP)*/

    .div-parte-secundaria .div-box-vantagens{
        position: relative;
        width: 470px;
        height: 325px;
        right: 60px;
        bottom: 100px;
        border-radius: 15px;
        margin-bottom: 10px;}

    .div-parte-secundaria .v3{
        position: relative;
        top: -100px;}


/* RESPONSIVIDADE - PERGUNTAS (1024px LAPTOP)*/ /* RESPONSIVIDADE - PERGUNTAS (1024px LAPTOP)*//* RESPONSIVIDADE - PERGUNTAS (1024px LAPTOP)*/

    .div-parte-terciaria{
        position: relative;
        top: 125px;}

    .div-parte-terciaria .div-box-perguntas{
        position: relative;
        width: 850px;}

    .div-parte-terciaria .titulo-perguntas{
        color: rgba(255, 255, 255, 0.801);}

/* RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/ /* RESPONSIVIDADE - RODAPE(1024px LAPTOP)*/

    .rodape{
        position: relative;
        top: 125px;
        height: 1600px;
        background-color: #050A1C;}

    .rodape .p14ID{
        position: relative;
        left: 337px;
        bottom: 17px;}

    .rodape .p15ID{
        position: relative;
        left: 600px;
        bottom: 48px;}

    .rodape .p16ID{
        position: relative;
        bottom: 50px;}

    .rodape .p17ID{
        position: relative;
        left: 337px;
        bottom: 84px;}

    .rodape .seletor-rodape{
        position: relative;
        top: -7px;}

    .rodape .icone-footer{
        position: relative;
        top: -1px;}

    .rodape .p-final{
        position: relative;
        top: -1px;}

    .div-copyright{
        position: relative;
        right: 150px;
        width: 150%;}

}


/* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ 
/* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ 
/* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ 

.div-fundo-filmes{
    background-image: linear-gradient(to right, #0a0c1ce7, #0a0c1c7e, #ffffff00), linear-gradient(to top, #0a0c1c, rgba(255, 255, 255, 0)), url(imagens/foto_principal.jpg); 
    height: 765px;
    width: 1345px;
    background-repeat: no-repeat;}

.logo{
    position: relative;
    width: 180px;
    height: 100px;
    left: 32px;
    bottom: 8px;}

.seletor-idiomas{
    position: relative;
    width: 156px;
    background-color: #121416bb;
    color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    left: 1050px;
    bottom: 76px;
    padding-left: 15px;
    height: 32px;}

.seletor-idiomas:focus{
    border: 2px solid white;
    padding: 5px;}

.icone-idiomas{
    position: relative;
    left: 900px;
    bottom: 71px;
    height: 20px;}

.botao-entrar{
    position: relative;
    padding: 8px 13px;
    background-color: #C11119;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    left: 1030px;
    bottom: 75px;}

.botao-entrar:hover{background-color: #ac0d15;}

.a-botao{
    text-decoration: none;
    color: white;}

/* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ 
/* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ 
/* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ /* IMG PRINCIPAL */ 

.div-texto-principal{
    position: relative;
    max-width: 950px;
    max-height: 350px;
    height: 350px;
    left: 75px;
    top: 25px;  
    color: white;}

h1{
    font-size: 4.063rem;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -1.5px;
    text-shadow: 1px 1px 1px white;}

.h2-principal{
    font-size: 1.438rem;
    position: relative;
    font-family: sans-serif;
    color: white;
    bottom: 15px;}

.p-principal{
    font-size: 1.25rem;
    position: relative;
    font-family: sans-serif;
    color: white;
    top: 5px;}

.input-email{
    position: relative;
    height: 54px;
    width: 404px;
    border-radius: 5px;
    background-color:  #131419c4;
    border: 1px solid rgb(102, 99, 99);
    color: white;
    font-size: 16px;
    padding-left: 15px;}

::placeholder{
    position: relative;
    padding-left: 15px;
    font-size: 17px;
    color: #B4B4AF;}


.button-vamosla1{
    position: relative;
    width: 200px;
    height: 52px;
    border-radius: 5px;
    background-color: #C11119;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    left: 435px;
    bottom: 38px;
    padding: 19px 25px;}

.button-vamosla:hover{background-color: #ac0d15;}

/* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ 
/* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ 
/* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ /* PARTE SECUNDÁRIA */ 


.div-parte-secundaria{
    position: relative;
    height: 400px;
    width: 100%;
    left: 45px;
    bottom: 75px;}

.div-box-vantagens{
    position: relative;
    height: 396px;
    width: 306px;
    right: 45px;
    bottom: 15px;
    background-image: linear-gradient(to bottom right, #520D38, #170F48);
    border-radius: 5px;}

.ul-div-secundaria{
    text-decoration: none;}

.li-div-secundaria{
    display: inline-block;
    margin-left: 8px;}

.icone-div-vantagens{
    position: relative;
    top: 65px;
    left: 25px;
    height: 75px;
    width: 90px;}

.titulo-div-vantagens{
    position: relative;
    top: 45px;
    font-size: 2rem;
    margin-left: 25px;
    color: white;}

.subtitulo-div-vantagens{
    position: relative;
    top: 45px;
    margin-left: 25px;
    font-size: 1rem;
    color: white;
    max-width: 90%;}

.v3{
    position: relative;
    top: 21px;}

/* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ 
/* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ 
/* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ /* PARTE TERCIÁRIA (PERGUNTAS) */ 

.div-parte-terciaria{
    position: relative;
    height: 770px;
    width: 1164px;
    left: 75px;}

.titulo-parte-tres{
    position: relative;
    font-size: 2.5rem;
    color: white;}

.div-box-perguntas{
    position: relative;
    width: 1164px;
    height: 84px;
    background-color: #223362;
    margin-bottom: -15px;}

.div-box-perguntas:hover{background-color: #2c4077;}

.titulo-perguntas{
    position: relative;
    padding-left: 25px;
    top: 25px;
    font-size: 1.5rem;
    color: white;}

.iconeplus{
    position: relative;
    font-size: 45px;
    float: right;
    bottom: 30px;
    right: 25px;
    display: block;}

.div-terciaria-complementar{
    position: relative;
    top: 25px;}

.p-complementar{
    position: relative;
    font-size: 1.25rem;
    color: white;}

.button-vamosla2{
    position: relative;
    left: 10px;
    top: -1px;
    background-color: rgb(206, 9, 9);
    padding: 20px 30px;
    border-radius: 5px;
    font-weight: bold;}

.button-vamosla2:hover{background-color: #ac0d15;}

/* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ 
/* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ 
/* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ /* PARTE QUARTENÁRIA (RODAPÉ) */ 

.rodape{
    position: relative;
    height: 500px;
    width: 100%;}

.rodape-text{
    position: relative;
    font-size: 1rem;
    top: 60px;
    left: 72px;
    color: #6F747F;}

.li-rodape{
    text-decoration: none;
    display: block;
    color: #6F747F;}

.linha-de-informacao{
    display: inline-block;
    margin-left: 100px;
    position: relative;
    top: 100px;
    right: 108px;}

.var-conserto{
    position: relative;
    bottom: 34px;}

.seletor-rodape{
    position: relative;
    top: 110px;
    left: 70px;}

.p-final{
    position: relative;
    color: #6F747F;
    font-size: 0.875rem;
    top: 135px;
    left: 70px;}

.p-dashed{text-decoration: underline;}

.icone-footer{
    position: relative;
    left: -85px;
    top: 115px;}

a{
    text-decoration: none;
    color: #6F747F;;}

/* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ 
/* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ 
/* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ /* COPYRIGHT (RODAPÉ) */ 

.div-copyright{
    position: relative;
    top: 150px;
    background-color: #000000cc;
    height: 30px;}

h5{
    font-size: 0.938rem;
    font-family: sans-serif;
    position: relative;
    left: 480px;
    top: 5px;
    color: rgb(139, 136, 136)}